html,
body {
  margin: 0;
  height: 100%;
}
.portfolio {
  background: linear-gradient(white, grey);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-header {
  margin: 0 5%;
  align-items: center;
  font-family: monospace;
  text-decoration: underline;
  text-decoration: solid;
  font-size: 45px;
}

.portfolio-sub {
  margin: 0 7%;
  padding-bottom: 30px;
  align-items: center;
  font-family: monospace;
  font-size: 20px;
}

.portfolio-end {
  font-family: monospace;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  pointer-events: all;
  z-index: 10;
}

.project-button {
  width: max-content;
  font-size: 30px;
  font-family: monospace;
}

.body {
  width: 90%;
  background-color: white;
  border-radius: 5px;
  border: solid;
  border-radius: 8px;
}
